<h1>IronhackMDB</h1>

<form action='/' method='post'>
Search a TV Show:
<input name='name'/><hr>
Add you own rating (from 0 to 10)
<input name='own_rating'/><hr>
Say something about the show
<input name='own_commets'/>
<input type='submit' value='Add!'/>
</form>